{% extends 'base.html' %}
{% load static %}

{% block title}Sonny Is Sleeping{% endblock title %}


{% block content %}
<br>
<br>
<br>
<div class="container-fluid" align="center">
<br>
<h1 style="color:rgb(23, 162, 184);">He is sleeping</h1>
<br>
<img src="{% static 'robot-cute.gif' %}">
<br>
    <h2>Your guess has been saved.</h2>
<br>
    <div class="row">
        <div class="col-md">
            <a class="btn btn-info btn-lg" href="{% url 'newHome' %}">Home</a>
            <br>
        </div>
        </div>
    <br>
</div>
{% endblock content %}